.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  font-family: var(--main-text);
}

.title {
  font-size: 2.8rem;
  color: var(--main-text-color);
  margin-bottom: 1.5rem;
}

.form {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  color: var(--main-text-color);
  font-family: var(--secondary-text);
}

input[type="password"], 
button {
  width: 100%;
  padding: 0.6rem 1rem;
  border: 1px solid var(--theme-green);
  border-radius: 4px;
  font-size: 1rem;
  font-family: var(--main-text);
  transition: border 0.2s, box-shadow 0.2s;
}
 
input[type="password"]:focus {
  border-color: var(--theme-pink);
  box-shadow: 0 0 15px var(--theme-green);
}

button {
  background-color: var(--theme-pink);
  color: var(--main-text-color);
  cursor: pointer;
  margin-top: 1.2rem;
  font-family: var(--secondary-text);
  display: flex;
}

button:hover {
  background-color: var(--theme-green);
}

/* button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} */

.link a {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--secondary-text);
  transition: color 0.2s;
  font-size: 1.5rem;
}

.link a:hover {
  color: var(--theme-pink);
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.8rem;
  }
  .label {
    font-size: 1.9rem;
  }
  input[type="password"], 
  button,
  .link a {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 769px) {
  h1 {
    font-size: 2.5rem;
  }
  .label {
    font-size: 1.6rem;
  }
  input[type="password"],  
  button,
  .link a {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }
  .label {
    font-size: 1.3rem;
  }
  input[type="password"],  
  button,
  .link a {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    width: fit-content;
  }
  h1,
  .label,
  input[type="password"], 
  button{
    margin-left: 1rem;
  }
}
