.icon {
  height: 60px;
  color: black;
  background-color: var(--theme-green);
}

.icon-btn {
  width: max-content;
  margin: auto;
  border: none;
  margin-top: 15px;
}

form {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  display: flex;
  max-width: 31.25rem;
  border-radius: 0.3125rem;
  flex-direction: column;
  background-color: white;
  padding: 1.3125rem 1.3125rem 1.75rem 1.3125rem;
}

span {
  margin: auto;
}

textarea {
  width: auto;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-top:1rem;
  resize: none;
}

#text-input {
  margin: 0 auto;
}

