.servicesContainer {
  background-color: white;
  flex: 1;
  justify-content: center;
  margin: 2rem auto;
  color: black;
  padding: 1.2rem 1.1rem 1.2rem 1.1rem;
  border-radius: 0.7rem;
  border: .3rem solid var(--theme-green);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  max-width: fit-content;
  display: flex ;
  flex-wrap: wrap ;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  font-family: var(--secondary-text);
  box-sizing: border-box;
  width: 60vw;
  color: var(--secondary-text-color);
  flex-direction: column;
}

.servicesContainer:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transition: .3s;
}

.servicesContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: translateY(-2px);
  transition: .3s;
}

.servicesContainer:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
  transition: .3s;
}

.title {
  font-family: var(--secondary-text);
  font-family: var(--main-text);
  color: black;
  font-size: 1.9rem;
}

.about {
  font-family: var(--secondary-text);
  font-size: 1.1rem;
  max-width: fit-content;
}

.button30 {
  margin-top: 0; 
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  font-family: var(--secondary-text);
  height: 2rem;
  width: fit-content;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.1rem;
}

.button30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.button30.seeBookings {
  width: 100%; 
  margin-top: 10px; 
}

.edit, .seeBookings {
  color: var(--secondary-text-color);
  font-family: var(--secondary-text);
  font-weight: normal;
  padding: 0;
  font-size: 1.1rem;
}