.search-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 450px;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  background-color: var(--background);
  margin: 1rem auto;
}

.search-form input[type="text"] {
  flex: 1;
  padding: 0.6rem 1rem;
  border: 1px solid var(--theme-green);
  border-radius: 4px;
  font-size: 1rem;
  font-family: var(--main-text);
  transition: border 0.2s, box-shadow 0.2s;
}

.search-form input[type="text"]:focus {
  border-color: var(--theme-pink);
  box-shadow: 0 0 15px var(--theme-green);
}

.search-form button {
  padding: 0.6rem 1.5rem;
  background-color: var(--theme-pink);
  color: var(--main-text-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: var(--secondary-text);
  transition: background-color 0.2s;
}

.search-form button:hover {
  background-color: var(--theme-green);
}

@media only screen and (min-width: 1024px) {
  .search-form input[type="text"], 
  .search-form button {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 769px) {
  .search-form input[type="text"], 
  .search-form button {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 480px) {
  .search-form input[type="text"], 
  .search-form button {
    font-size: 0.9rem;
  }
}