.sidebar .containerBar .sideBarTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 50vw;
  max-width: 250px;
  height: calc(100vh - 60px); 
  /* background-image: url(https://media.istockphoto.com/id/1218737747/vector/learning-online-e-learning-video-call-chat-with-class-distance-education.jpg?s=612x612&w=0&k=20&c=fFFwc3CTP4XtvmruZLiK8EzAbzvAxJL_kw5BsA7z7w8=); */
  background-color: #777;
  color: #fff;
  position: fixed;
  top: 60px; 
  left: 0px; 
  list-style: none; 
  padding-top: 100px;
  z-index: 10;
}

.sidebar.open {
  left: 0; 
}

.item {
  padding: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; 
}

.item:hover {
  background-color: var(--theme-green);
}

.sidebarTitle {
  background-color: #555;
  color: #fff;
  cursor: pointer;
  padding: .8rem;
  width: 50vw;
  max-width: 250px;
  text-align: center; 
  position: fixed; 
  top: 80px; 
  left: 0;
  z-index: 12;
  font-family: var(--main-text); 
  font-size: 1.7rem;
}

.sidebarButton:hover {
  background-color: #777; 
}

.item, li, a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: .5rem;
  font-family: var(--main-text);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  inherits: none;
}

@media (max-width: 768px) {
  .sidebar, .sidebarButton {
    width: 20vw; 
  }
  
  .item, li, a {
    font-size: .9rem; 
  }
}

@media (max-width: 480px) {
  .sidebar, .sidebarButton {
    width: 30vw;
  }
  
  .item, li, a {
    font-size: .8rem; 
  }
}

.itemLink {
  color: var(--secondary-text-color);
  background: rgba(244, 242, 243, 0.8);
  font-size: 1.4rem;
  font-family: var(--secondary-text);
  font-weight: 900;
}
