.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  background-color: transparent;
  margin-top: 2.8rem;
  max-width: 80%;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
}

.title {
  text-align: center;
  font-family: var(--main-text);
  width: fit-content;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.selectService {
  width: auto;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardContainer {
  display: flex ;
  flex-wrap: wrap ;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  font-family: var(--secondary-text);
  box-sizing: border-box;
  width: 100vw;
  color: var(--secondary-text-color);
}