:root {
  --main-text: 'Kanit', sans-serif;
  --secondary-text: 'Fira Sans', sans-serif; 
  --main-text-color: #212121;
  --theme-pink: #FF7F7F;
  --theme-green: #81D8D0;
  --background: #E5E4E2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: var(--background);
  font-family: var(--main-text);
}

h1 {
  font-size: 2.5rem;
  color: var(--main-text-color);
  margin-bottom: 1.5rem;
}

.form {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  color: var(--main-text-color);
  font-family: var(--secondary-text);
}

input[type="text"], 
input[type="password"], 
input[type="file"], 
button {
  width: 100%;
  padding: 0.6rem 1rem;
  border: 1px solid var(--theme-green);
  border-radius: 4px;
  font-size: 1rem;
  font-family: var(--main-text);
  transition: border 0.2s, box-shadow 0.2s;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="file"]:focus {
  border-color: var(--theme-pink);
  box-shadow: 0 0 15px var(--theme-green);
}

button {
  background-color: var(--theme-pink);
  color: var(--main-text-color);
  cursor: pointer;
  margin-top: 1.2rem;
  font-family: var(--secondary-text);
  display: flex;
}

button:hover {
  background-color: var(--theme-green);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.link {
  margin-top: 1rem;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.link a {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--secondary-text);
  transition: color 0.2s;
  font-size: 1.3rem;
}

.link a:hover {
  color: var(--theme-pink);
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.8rem;
  }
  .label {
    font-size: 1.9rem;
  }
  input[type="text"], 
  input[type="password"], 
  input[type="file"], 
  button,
  .link a {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 769px) {
  h1 {
    font-size: 2.5rem;
  }
  .label {
    font-size: 1.6rem;
  }
  input[type="text"], 
  input[type="password"], 
  input[type="file"], 
  button,
  .link a {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }
  .label {
    font-size: 1.3rem;
  }
  input[type="text"], 
  input[type="password"], 
  input[type="file"], 
  button,
  .link a {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    width: fit-content;
  }
  h1,
  .label,
  input[type="text"], 
  input[type="password"], 
  input[type="file"], 
  button{
    margin-left: 1rem;
  }
}
