.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-top: 3rem;
}

.form:hover {
  transform: scale(1.05);
}

.label {
  left: 10px;
  bottom: 5px;
  font-size: 1.1rem;
  color: var(--main-text-color);
  pointer-events: none; 
  transition: 0.3s all;
}

.select, .inputField[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.select:focus, .inputField[type="text"]:focus {
  border-color: var(--theme-green);
  outline: none;
}

.option {
  padding: 5px 10px;
}

.inputContainer {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1.9rem;
  width: 100%;
  outline: none;
}

.inputField {
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--theme-green);
  font-size: 1.1rem;
  color: #333;
  transition: 0.3s all;
  outline: none;
}

.inputField[type="text"]:focus {
  border-color: var(--theme-pink);
  box-shadow: 0 0 15px var(--theme-green);
}

.inputField:focus {
  border-color: var(--theme-green);
}

.inputField:focus + .label,
.inputField:not(:placeholder-shown) + .label {
  bottom: 115%; 
  font-size: 1rem;
  color: var(--theme-pink);
}

.button30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--main-text-color);
  cursor: pointer;
  display: flex;
  font-family: var(--secondary-text);
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: .7rem;
}

@media (max-width: 420px) {
  .form {
      max-width: 90%;
  }

  .label, .select, .input[type="text"] {
      font-size: 0.9rem;
  }
}
